
/* applying fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

/* ends fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}



/* Declaring the color padding and other important variables */
:root{
    --bg-color: #4831D4;
    --text-color: white;
    --hover-color: #15b800;
    --container: white;

}

/* adding background color  */



/* desiging the header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 23px 13%;
    background: transparent;
    transition: all .40s ease-in;

}

/* designing the logo */

.imglogo{
    width: 80px;
    max-width: 100%;
    height: auto;
}
.navbar{
    display: flex;
}


.navbar a{
    font-size: 16px;
    color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    transition: all .40s ease;
}

.navbar a:hover{
    color: var(--hover-color);
    transform: scale(1.2);
    
}

/* designing the icons on the navigation bar */
.header-icon{ 
    display: flex;
    align-items: center;
}


.header-icon i{
    margin-left: 10px;
    font-size: 20px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px;
}

.header-icon i:hover{
    transform: scale(1.2);
    color: var(--hover-color);
}

#menu-icon{
    font-size: 24px;
    color: black;
    display: none;
}


section{
    padding: 80px 13%;
} 
.home{
    color: var(--text-color);
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    align-items: center;
    background-color: var(--bg-color);
}
.para{

    color: #15b800;
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pp{
    padding-bottom: 15px;
}

.latter form{
    width: 100%;
    max-width: 490px;
    position: relative;
}

.latter form input:first-child{
    font-size: 10px;
    display: inline-block;
    width: 100%;
    outline: none;
    border-radius: 30px;
    border: 2px solid var(--hover-color);
    padding: 16px 1px 16px 15px;
}

.latter form input:last-child{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    border: none;
    outline: none;
    background-color: var(--hover-color);
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 30px;
    padding: 16px 10px;
    top: 2px;
    right: 1px;

}
home-img{
    height: auto;
    width: 100px;
}


header.sticky{
    background-color: var(--bg-color);
    padding: 12px ;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, auto));
    gap: .5rem;
    align-items: center;
    background-color: var(--bg-color);

}

.container-box{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 20px;
    padding: 20px 5px;
    transition: all .4s ease;
    box-shadow: 0px 0px 5px 0px var(--hover-color);
}

.container-img{
    width: 60px;
    height: 60px;
   
}
.container :hover{
    transform: translateY(-5px);
}

.container-text h4{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.container-text p{
    font-size: 10px;
    color: white;

} 

.center-text{

    text-align: center;
}

.center-text .title{
    font-size: 20px;
    font-weight: bold;
}
.center-text .sub{
    font-size: 16px;
    margin-bottom: 20px;
}

.center-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, auto));
    gap: 1.5rem;
    align-items: center;
    cursor: pointer;
    text-align: center;
}