

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}



/* Declaring the color padding and other important variables */
:root{
    --bg-color: rgb(255, 254, 254);
    --text-color: rgb(31, 0, 167);
    --hover-color: #15b800;
}

/* adding background color  */

body{
    background-color: var(--bg-color);
}

/* desiging the header */

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 23px 13%;
    background: transparent;
    transition: all .40s ease-in;

}

/* designing the logo */

.imglogo{
    width: 80px;
    max-width: 100%;
    height: auto;
}
.navbar{
    display: flex;
}


.navbar a{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    transition: all .40s ease;
}

.navbar a:hover{
    color: var(--hover-color);
    transform: scale(1.2);
    
}

/* designing the icons on the navigation bar */
.header-icon{ 
    display: flex;
    align-items: center;
}


.header-icon i{
    margin-left: 10px;
    font-size: 20px;
    color: var(--text-color);
    transition: all .40s ease;
    margin-right: 15px;
}

.header-icon i:hover{
    transform: scale(1.2);
    color: var(--hover-color);
}
.bx bx-menu-alt-right{
    color: black;
    cursor: pointer;
    font-size: 24px;
    z-index: 10001;
    display: none;
}

